modules = ["nodejs-24", "python-3.11", "postgresql-16", "rust-stable"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 8082
externalPort = 3001

[[ports]]
localPort = 25169
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
SOLANA_RPC_URL = "https://api.devnet.solana.com"
VAULT_KEY_PROGRAM_ID = "3K4trP738zH8AnLstw3aMRhLVr2bUPXbhGuFBoTFVMfu"
GUARDIAN_MULTISIG_PROGRAM_ID = "F2Rfbcq5jRPtvqs9E746P5dJ19LruD7htYwohVNTXFuf"
MONASOL_PROTOCOL_PROGRAM_ID = "F6tpGzZqxCeESXDTquUrTZyMpv8WVZ5Aiem1mfiPQftY"
ORACLE_KEYPAIR_PUBKEY = "AeAgnS1gcrBPcmLjxcsLzSypdjspSqsc55qtBsYmon33"
SOLANA_CLUSTER = "devnet"
